/*Basic Settings*/
body {
    background-color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
   }

h1 {
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Roboto Slab' , serif;
   }
   
p {
    line-height: 1.5;
   }

   main {
    margin: 0 auto;
   }
/*------------------------------------------------------*/

/*  Slideout Menu  */
  #slidout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }
  #slidout-menu ul {
    list-style: none;
    padding: 0 32px;
  }
  #slidout-menu ul li {
    padding: 8px;
  }
  #slidout-menu a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
  }
  #slidout-menu input {
    width: 85%;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  /*------------------------------------------------------*/

/*Navigation */
  nav {
    height: 120px;
    background-color: rgb(251, 224, 229);
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
   }
  nav a {
    padding: 0 32px;
    color: black;
    transition: 0.4s;
    text-decoration: none;
  }
  nav a:hover{
    text-decoration: none;
    color: rgba(44, 191, 217, 0.8);
    text-decoration: underline;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  .active {
    color: rgb(243, 11, 185);
  }

 #logo-img {
    display: flex;
    height: 100%;
    background: #111;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: .4s;
  }

  #logo-image {
    display: flex;
  }
 #logo-image img {
    height: 70px;
  }

  #logo-image:hover {
    background:pink;
  }

/*Hamburger Icon */
  #menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
  }

/* Search Icon */
  #search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
  }
  #search-icon:hover {
    columns: red;
  }
/*------------------------------------------------------*/

/* Banner */
   #banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url('img/jesus-loves-austin-TqHDqXkWSCk-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    margin-bottom: 60px;
  }
 #banner h1 {
    border-radius: 8px;
    font-size: 70px;
    width: 50%;
    text-align: center;
    margin-top: 600px;
    margin-bottom: 0px;
    line-height: normal;
    color: ;
  }
  #banner h3 {
    font-size: 30px;
    width: 60%;
    text-align: center;
    color: white;
    font-weight: lighter;
  }



/*  Card 2 */
.section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 500px;
  }

 .card2 {
    background: white;
    width: 25%;
    border:10px solid white;
    border-radius: 20px;
  }
  .card-image2 img{
    width: 100%;
  }

 .card-description2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }

  #banner .section .card-description2 .packet-header {
    font-size: 20px;
    font-weight: bold;
    color: rgb(195, 34, 34);
    margin-top: 10;
    margin-bottom: 10px;
    text-align: center;
  }


  .card-description2 .packet-content {
    color: black;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

  }

  /*  Button Read more 2 */

    .packet-button {
      width: 80%;
    }

    .btn-readmore2 {
      padding: 8px;
      border: 3px solid rgb(215, 27, 27);
      border-radius: 20px;
      transition: 0.4s;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: bold;
      cursor: pointer;
      background-color: white;
      width: 100%;
      text-align: center;
      color: red;
  }
  .btn-readmore2:hover {
    background-color: rgb(198, 240, 246);
    text-decoration: none;
    padding: 8px 64px 8px 24px;

  }

 /*------------------------------------------------------*/
  
 
 


 



 /*Searchbox */
  #searchbox{
    position: fixed;
    right: 0;
    top: 12px;
    width: 80px;
    pointer-events: none;
    z-index: 50;
    transition: 2.4s;
   }
  #searchbox input {
    height: 30px;
    width: 100%;
   }
  input,
  textarea{
    height: 20px;
    padding: 0 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border: solid 1px black;
   }
  input:focus,
  textarea:focus{
    outline: none;
   }
 /*------------------------------------------------------*/

 
 /*------------------------------------------------------*/


/*  Section  */
  section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .section-heading {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    color:  rgb(243, 11, 185);
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
  }
  .section-heading:hover {
    padding: 4px 48px;
    background: pink;
  }

/*  Sectin Source  */
    #section-source {
        display: flex;
        flex-direction: column;
    }
      #section-source p {
            padding: 8px;
            text-align: center;
      }
      #section-source a {
        margin: 8px;
        text-align: center;
      }

/*  Card  */
  .card-image {
    transition: 0.4s;
  }

  .card-image:hover {
    box-shadow: 0 10px 6px -6px black;
  }

  .card-description {
    padding: 0 8px;
  }

  /*  Button Read more */
  .btn-readmore {
    padding: 8px 24px;
    border: 3px solid black;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }
  .btn-readmore:hover {
    background-color: pink;
    text-decoration: none;
    padding: 8px 64px 8px 24px;
  }
/*------------------------------------------------------*/  

/* Footer */
    footer {
      background-color:  pink;
      color: rgb(59, 38, 38);
      padding: 8px;
      display: flex;
    }
    footer a {
      color: rgb(59, 38, 38);
    }

/* Left Footer */
    footer #left-footer {
      flex: 1;
      border-right: 1px solid rgba(44, 191, 217, 0.8);
      padding-left: 32px;
    }
    footer #left-footer ul{
      padding: 0;
      list-style: none;
      line-height: 1.5;
    }


/* Right Footer */
    footer #right-footer{
      flex: 2;
      padding: 8px;
      text-align: center;
    }
    footer #social-media-footer {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 0;
    }
    footer #social-media-footer ul li{
      font-size: 40px;
      padding: 16px;
      transition: 0.4s;
    }
    footer #social-media-footer ul li:hover a .fa-facebook {
      color: red;
    }
    footer #social-media-footer ul li:hover a .fa-youtube {
      color: #3b5998;
    }
    footer #social-media-footer ul li:hover a .fa-github{
      color: #bbb;
    }
    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-youtube,
    footer #social-media-footer a .fa-github {
      color: white;
      transition: 0.4s;
    }
/*------------------------------------------------------*/



/*  Media Queries */
    @media(min-width: 720px){
      main{
          width: 95%;
      }
      .card {
          width: 45%;
      }
      .card .card-imgage img {
          width: 100%;
      }
  }

  @media(min-width: 1200px) {
      main {
          width: 85%;
      }
  }
  @media(max-width: 900px) {
    nav ul{
      display: none;
    }
    menu-icon{
      display: flex;
    }
    #searchbox{
      display: none;
    }
    #slidout-menu{
      display: block;
    }
  }
  @media(max-width: 719px) {
    main{
      width: 95%;
    }
    
    section{
      flex-direction: column;
    }

    .card,
    .card .card-image img{
      width: 100%;
    }

    footer {
      flex-direction: column;
      text-align: center;
    }
    footer #left-footer {
      flex:1;
      border-right: 0;
      padding-left: 0;
    }
    footer #right-footer {
      background: #eee;
      color: rgb(59, 38, 38);
    }
    

    @media(max-width: 600px) {
    main{
     width: 100%;
    }
      
    .card {
      text-align: center;
    }

    logo-image {
      padding: 0;
    }

    h1{
      font-size: 48px;
     }
     
     #banner h3{
      font-size: 20px;
     }

  }







